*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(./Styles/Images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

a{
    text-decoration: none;
    color: white;
}



/*Test mode styles*/



@keyframes moveBanner {
  0% {
    right: 0;
  }
  100% {
    right: 100%;
  }
}

.test-banner {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #000a4897;
  color: White;
  padding: 8px 16px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  white-space: nowrap;
  z-index: 10000;
  animation: moveBanner 10s linear infinite;
  cursor: default;
}

.test-banner .highlight {
  color: red;
}

/*Test mode styles*/
